.hero{
    height: 100%;
    position: relative;
    background-image: url(images/astronauts.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    /* opacity: 40%; */
}
.info{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4% 0 0 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.table{
    height: 80%;
    width: 80%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.278);
    backdrop-filter: blur(40px);
    padding: 10px;
}
.title{
    background-color: rgba(137, 43, 226, 0.351);
    height: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
}
.left{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left img{
    height: 5.5rem;
    rotate: 180deg;
    position: relative;
    right: 10px;
    cursor: pointer;
}
.right{
    height: 100%;
    display: flex;
    align-items: center;
}
.right img{
    height: 5.5rem;
    position: relative;
    left: 10px;
    cursor: pointer;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center img{
    height: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.center img:hover{
    transform: scale(1.08);

}
.left img,
.right img {
    height: 3.5rem;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.left img {
    rotate: 180deg;
    right: 10px;
}
.right img {
    left: 10px;
}
.left img:hover,
.right img:hover {
    transform: scale(1.1);
}
.content{
    height: 50%;
    background-color: rgba(240, 248, 255, 0.359);
    color:black;
    border-radius: 10px 4px 5px 10px;
    padding: 10px;
    margin-top: 2%;
    overflow-y: auto;
    box-sizing: border-box;
}
.content::-webkit-scrollbar {
    width: 8px;
    height: 50px;
}
.content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.content::-webkit-scrollbar-thumb {
    background: rgba(142, 65, 202, 0.3);
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0.2); 
}
.content::-webkit-scrollbar-track {
    background: transparent;
}
.content::-webkit-scrollbar-thumb:hover {
    background: rgba(132, 15, 236, 0.5);
}
.extraInfo{
    background-color: rgba(240, 255, 255, 0.114);
    color: black;
    height: 25%;
    margin-top: 2%;
    border-radius: 10px;
}
.info2{
    height: 100%;
    width: 50%;
    padding: 4% 0 0 0;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.table2{
    height: 80%;
    width: 90%;
    position: relative;
    right: 5%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.278);
    backdrop-filter: blur(40px);
    padding: 10px;
}
.video{
    height: 71%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.278);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.video video{
    /* height: 100%; */
    width: 100%;
    border-radius: 10px;
}
.purchasePannel{
    background-color: rgba(240, 255, 255, 0.114);
    color: black;
    height: 26%;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;
    align-items: center;

}
.pannel1{
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.purchase{
    height: 40%;
    width: 90%;
    background-color: #40a343;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.purchase h3{
    color: rgb(16, 51, 17);
}
.purchase:hover {
    background-color: #3a8b3f;
    transform: scale(1.05);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
}
.wishlist{
    height: 40%;
    width: 72%;
    background-color: #95b913;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.wishlist h3{
    color: rgb(16, 51, 17);
    font-size: 1.2rem;
}
.wishlist i{
    color: rgba(16, 51, 17, 0.912);
    font-size: 1.2rem;
}
.wishlist:hover {
    background-color: #819f11;
    transform: scale(1.05);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
}
.wishlist h3{
    color: rgb(16, 51, 17);
    font-size: 1.2rem;
}
.like{
    border-radius: 10px;
    background-color: #1781b6;
    height: 40%;
    width: 28%;
    position: relative;
    left: 3.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.like i{
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.1rem;
}
.like h3{
    color: rgb(16, 51, 17);
    font-size: 1.2rem;
}
.like:hover{
    background-color:#12648d;
    transform: scale(1.05);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
}
.pannel2{
    height: 85%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: relative;
    left: 57px;
}
.pannel2 li{
    position: relative;
    right: 15px;
    list-style: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}