*{
    margin: 0;
    padding: 0;
    color: #f3dea1;
    font-family: 'pixel';
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(33, 31, 31);
}
@font-face {
    font-family: 'pixel';
    src: url('fonts/pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
section{
    height: 100%;
    width: 100%;
}
.navLayer{
    position: absolute;
    z-index: 5;
    height: 70px;
    width: 100%;
    background-color: rgb(87, 59, 24, 0.2);
    backdrop-filter: blur(5px);
}
nav:hover .navLayer {
    backdrop-filter: blur(40px);
}
nav{
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    background: none; 
    /* background-color: rgb(87, 59, 24); */
}
.p1 h1:hover{
    color: #e6dec7;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    transition: 0.5s;
}
.p1{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 45px;
    cursor: pointer;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}
.p1 i{
    font-size: 50px;
    margin: 0 10px;
}
.p2{
    position: relative;
    left: 90px;
    display: flex;
    gap: 40px;
}
.p2 h3{
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}
.p2 h3:hover{
    color: #e6dec7;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    transition: 0.5s;
    transform: scale(1.1);
}
.p3{
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchBar{
    background-color: rgb(62, 40, 14,0.4);
    height: 35px;
    width: 250px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
}
.searchBar:hover, .p3 input:focus {
    background-color: rgba(62, 40, 14, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.p3 input{
    color:black;
    height: 22px;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #e6dec7;
    cursor: pointer;
}
.searchBar img{
    height: 20px;
    margin: 0 10px 0 0;
    cursor: pointer;
}
#menu{
    height: 30px;
    margin: 0 10px;
    color: #f3dea1;
    cursor: pointer;
}